* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

:root {
  --app-color : "#33a165";
}

input {
  outline: none;
}

::placeholder { 
  color: rgb(255, 255, 255);
  opacity: 1; 
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
  .randomize-icon {
    display: none;
  }

  .randomize-icon-flip {
    display: flex !important;
  }

  .search-container {
    width: 100% !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}


@media only screen and (max-width: 1200px) {
    .pokemon-name {
      font-size: 3rem !important;
    }

    .pokemon-type {
      font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 767px) {
  .pokemon-name {
    font-size: 4rem !important;
  }
}


@media only screen and (max-width: 520px) {
  .pokemon-name {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .pokemon-img-container {
    text-align: center !important;
  }
}

.pokemon-img {
  opacity: 1;
}

.basics-container {
  background-color: #00000038 !important;
  border: 0.1px #00000038 !important;
}

@media only screen and (max-width: 1399px) and (min-width : 768px) {
  .basics-head-container {
    padding-left: 2.5rem !important;
  }
}

@media only screen and (max-width: 991px) and (min-width : 768px) {
  .pokemon-img {
    width : 500 !important;
  }
}

@media only screen and (max-width: 575px) {
  .topbar-container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .pokemon-slider-container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
